*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100vh;
    background:rgb(236, 219, 42);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background:rgb(12, 148, 107);
    padding:20px;
    border-radius:10px;
    border:5px solid rgba(225, 225, 225, 0.158);
}

.calculator form input{
    border: 0px;
    outline:0;
    width:60px;
    height:60px;
    border-radius:10px;
    box-shadow: -8px -8px 15px rgba(225, 225, 225, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin:10px;
    border:1px solid rgba(225, 225, 225, 0.3);
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    height: 80px;
    
}

form .display input{
    text-align:right;
                flex: 1;
                font-size:45px;
                box-shadow: -8px -8px 15px rgba(225, 225, 225, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
                border: 1px solid rgba(225, 225, 225, 0.3);
                border-radius:10px;
                background:transparent;
                color: white;
                height: 75px;
                width: 75px;
}

form input.equal{
    width: 145px;
    font-size:28px;
}
h1{
    color:rgb(0, 0, 0)
    background:blanchedalmond;
}